footer {
  display: flex;
  width: 100%;
  height: fit-content;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  background-color: #333;
  color: white;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

nav {
  display: flex;
  width: 100%;
}
