<div class="page">
  <div>
    <app-header />
  </div>
  <div class="home-content">
    <h1>{{ pageTitle() }}</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit
      necessitatibus quis ex. Dicta enim maxime expedita corporis soluta,
      perferendis minus quae eius accusamus velit ut excepturi voluptatibus
      quisquam odit tempore?
    </p>
    <app-greeting [greetingMessage]="greetingMessage()" />
    <app-counter />
  </div>
  <div>
    <app-footer />
  </div>
</div>
